
 .navbar {

    padding: 15px;
    background-color: #030303cb;
    clear: both;
    z-index: 1;
    
  }
  
  .NavLink {
    margin-right: 10px;
    text-decoration: none;
    color: #188d78;
    text-decoration: none;
  }
  /* .navbar-brand {
    width: 50px;
    height: auto;
  } */
  .logout-button {
    color: #f1f0f0;
    background-color: rgb(15, 15, 14);
    width:80px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
  }
  /* .header-logo {
    max-height: 5vh;
  }  */